.m_InfoLiveBanner {
  display: flex;
  position: sticky;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: $infoLive-height-s;
  color: $color-white;
  z-index: 2;

  &_weather {
    background-color: $color-grey-50;
    backdrop-filter: blur(25px);
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  &_skiIcon {
    font-size: 21px;
  }

  &_temperature {
    @include body;
  }

  &_opening {
    background-color: $color-black;
    backdrop-filter: blur(2px);
    flex: auto;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media screen and (min-width: $screen-xxs-min) {
    &_weather {
      padding-left: 22px;
      padding-right: 22px;
    }
  }
}
