.m_SlideThumbsExperience {
  padding-top: 20px;
  position: relative;


  &_title {
    @include h5;
  }

  &_subtitle {
    @include bodyMedium;
    margin-top: 5px;
  }

  &_description {
    margin-top: 10px;
  }

  &_buttons {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 10px;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  @media screen and (min-width: $screen-xs-min) {
    padding: 10px 0 10px 18px;
    z-index: 2;
    color: $color-grey;
    transition: color 0.3s ease-in-out;
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 4px;
      height: 0;
      background-color: $color-black;
      border-radius: 100px;
      opacity: 0;
      transition: opacity 0.3s ease-in-out, height 0.3s ease-in;
    }

    &_title {
      @include subtitle;
    }

    &_content {
      height: 0;
      overflow: hidden;
      transition: height 0.3s ease-in-out;
    }
  }

  @media screen and (min-width: $screen-m-min) {
    padding-left: 48px;
  }
}
