$icomoon-font-family: "icon-pdm" !default;
$icomoon-font-path: "fonts" !default;

$icon_pdm-back-to-top: unquote('"\\e918"');
$icon_pdm-menu: unquote('"\\e907"');
$icon_pdm-close: unquote('"\\e916"');
$icon_pdm-ticket: unquote('"\\e90b"');
$icon_pdm-webcam: unquote('"\\e904"');
$icon_pdm-group: unquote('"\\e905"');
$icon_pdm-pmr: unquote('"\\e909"');
$icon_pdm-shop: unquote('"\\e906"');
$icon_pdm-bag: unquote('"\\e908"');
$icon_pdm-double-chevron: unquote('"\\e901"');
$icon_pdm-chevron-down: unquote('"\\e902"');
$icon_pdm-chevron-up: unquote('"\\e90c"');
$icon_pdm-chevron-left: unquote('"\\e90d"');
$icon_pdm-chevron-right: unquote('"\\e90e"');
$icon_pdm-arrow-bottom-right: unquote('"\\e903"');
$icon_pdm-arrow-top-right: unquote('"\\e90f"');
$icon_pdm-arrow: unquote('"\\e917"');
$icon_pdm-affluence: unquote('"\\e900"');
$icon_pdm-sun: unquote('"\\e90a"');
$icon_pdm-clock: unquote('"\\e910"');
$icon_pdm-calendar: unquote('"\\e911"');
$icon_pdm-facebook: unquote('"\\e912"');
$icon_pdm-instagram: unquote('"\\e913"');
$icon_pdm-tripadvisor: unquote('"\\e914"');
$icon_pdm-twitter: unquote('"\\e915"');

