.o_HeaderMobile {
  width: 100%;

  &_content {
    display: flex;
    align-items: center;
    gap: 10px;
    transition: opacity 500ms;
    transition-delay: 300ms;
    opacity: 1;

    &.open {
      opacity: 0;
      pointer-events: none;
      transition-delay: 0s;
    }
  }
}
